 <div class="container homepage">
  <h1>Museum Locator</h1>

  <h3>Enter coordinates to find nearby museums</h3>

  <%= simple_form_for(@coordinates) do |f| %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.submit "Search", class:"btn btn-primary" %>
  <% end %>
</div>
